<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Gerenciador_de_ChamadosPU" transaction-type="JTA">
    <jta-data-source>java:app/Persistencia</jta-data-source>
    <class>br.com.gerenciadorchamados.model.Categoria</class>
    <class>br.com.gerenciadorchamados.model.Chamado</class>
    <class>br.com.gerenciadorchamados.model.Cidade</class>
    <class>br.com.gerenciadorchamados.model.Contato</class>
    <class>br.com.gerenciadorchamados.model.Enderecounidade</class>
    <class>br.com.gerenciadorchamados.model.Estado</class>
    <class>br.com.gerenciadorchamados.model.Lotacao</class>
    <class>br.com.gerenciadorchamados.model.Unidadegestora</class>
    <class>br.com.gerenciadorchamados.model.Usuario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties/>
  </persistence-unit>
</persistence>
